# Browser cache and data files
.browser_data_dir/
**/DawnCache/
**/GPUCache/
**/GrShaderCache/
**/ShaderCache/
**/WebStorage/
**/TransportSecurity

# System files
.bash_history
*.log
*.tmp

# Parent directory cache files
../.browser_data_dir/
../.bash_history
../.lesshst
